@import './variables.css';
@import './normalize.css';
@import './reset.css';
@import './wrapper.css';

body {
  font-family: var(--font-basic);
  font-size: var(--font-md);
}

.nav {
  margin: 2rem 0 6.4rem 0;
}

.nav__title {
  font-weight: 700;
  font-size: var(--font-lg);
  color: var(--black1);
}
.header {
  display: grid;
  gap: 6rem;
}

.header__image {
  width: 29rem;
  justify-self: center;
}

.header__text {
  display: grid;
  gap: 3rem;
  justify-items: start;
}

.header__title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--black1);
}
.header__subtitle {
  font-size: var(--font-lg);
  color: var(--black2);
  margin-bottom: 3rem;
  font-weight: 400;
}

.button {
  background: var(--black1);
  color: var(--white);
  padding: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
