@import './variables.css';
@import './normalize.css';
@import './reset.css';
@import './wrapper.css';

html {
  height: 100%;
}

body {
  font-family: var(--font-basic);
  font-size: 1.6rem;
  height: 100%;
}

.wrapper--header {
  height: 100%;
  display: grid;
  place-items: center;
}
.nav {
  margin: 2rem 0 6.4rem 0;
  justify-self: start;
}

.nav__title {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--black1);
  text-align: start;
}

.header {
  display: grid;
  gap: 6rem;
  place-items: center;
}

.header__image {
  width: 50rem;
  justify-self: center;
}

.header__text {
  display: grid;
  gap: 3rem;
  justify-items: start;
}

.header__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--black1);
}
.header__subtitle {
  font-size: 1.8rem;
  color: var(--black2);
  margin-bottom: 3rem;
  font-weight: 400;
}

.button {
  background: var(--black1);
  color: var(--white);
  padding: 2.4rem;
  font-weight: 700;
  margin-bottom: 11.4rem;
  cursor: pointer;
}

.footer__text {
  margin-bottom: 2.4rem;
  color: var(--footer-text);
}

.footer__text a {
  color: var(--footer-text);
  font-weight: 700;
  text-decoration: underline;
}
