.wrapper {
  margin: 0 1.6rem;
}

@media (min-width: 320px) {
  .wrapper {
    margin: 0 2.4rem;
  }
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    max-width: 1320px;
    margin: auto;
  }
}
