:root {
  /* ----------COLORS--------- */
  --white: #fff;
  --black1: #333333;
  --black2: #4f4f4f;
  --footer-text: #bdbdbd;

  /* ----------FONTS--------- */
  --font-basic: 'Space Mono', monospace;
}
